.canvas {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh !important;
}

#bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
